@model UserApp.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titre</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Auteur</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label">Genre</label>
                <select asp-for="Genre" asp-items="Html.GetEnumSelectList<UserApp.Models.Genre>()" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label">Date de publication</label>
                <input asp-for="PublicationDate" class="form-control" type="date" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Image</label>
                <input asp-for="ImagePath" class="form-control" type="file" name="imageFile" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCopies" class="control-label">Nombre d'exemplaires</label>
                <input asp-for="NumberOfCopies" class="form-control" />
                <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="NumberOfLoans" value="0" />
            </div>
            <div class="form-group">
                <input type="submit" value="créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
